#one{
    color: red;
    
}
#two{
    color: darkblue;
}
#u1{
    color: red;
}
#u2{
    color: mediumblue;
}
#dal{
    color: sienna;
}
h2{
    color: slateblue;
}
#p2{
    color: purple;
}
#seven{
    color: red;
}
#eight{
    color:lawngreen;
}
.six{
    color:darkgreen;
}
#ten{
    color: orange;
}
.eleven{
    color: magenta;
}
#twelve{
    color: teal;
}
#thirteen{
    color: orange;
}
